@font-face{
  font-family: 'MyFont';
  src: url('./hn-045-n.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.hello{
  color: red;
  font-family: 'MyFont';
  background: url('./1.jpg')
}